.why-not {
    margin: 0;
    padding: 0;
    width: 100%;
    background: linear-gradient(to bottom, #c8c8c8 0%, #fbfbfb 40%, #fbfbfb 60%, #cccccc 100%);
    }

    .why-not__wrap {
        margin: auto;
        padding: 210px 0 0;
        min-height: 800px;
        width: 1284px;
        background: url('../assets/cook.png') right bottom/300px auto no-repeat;
        }

    .why-not__about {
        margin-bottom: 95px;
        width: 500px;
        }

        .why-not__about-title {
            margin: 0 * 30px;
            color: #2b2f5f;
            font: 72px/1 Malina, Helvetica, Arial, sans-serif;
            }

        .why-not__about-text {
            width: 380px;
            color: #747474;
            font: 15px/20px Helvetica, Arial, sans-serif;
            }

    .why-not__icons {
        width: 700px;
        }

    .why-not__icon {
        display: inline-block;
        margin: 0 0 30px;
        color: #747474;
        font: 18px/20px Malina, Helvetica, sans-serif;
        size: 215px 180px;
        }

        .why-not__icon-picture {
            margin: 0 0 20px;
            size: 100% 120px;
            }
        .why-not__icon-picture_cook {
            background: url('../assets/cook-icon.png') center/145px auto no-repeat;
            }
        .why-not__icon-picture_green {
            background: url('../assets/green-icon.png') center/145px auto no-repeat;
            }
        .why-not__icon-picture_heart {
            background: url('../assets/heart-icon.png') center/145px auto no-repeat;
            }

        .why-not__icon-text {
            padding: 0 0 0 30px;
            }