<section class="why-not">
    <div class="why-not__wrap">
        <div class="why-not__about">
            <h2 class="why-not__about-title">Почему так вкусно?</h2>
            <div class="why-not__about-text">В основе пирожного Sweet Cupcake выпеченный бисквит, промоченный сахарным сиропом с добавлением коньяка и десертного вина. Прослоенно суфлейной массой, смешшаной с апельсиновым концетратом. Заглазированно шоколадной глазурью с нанесение сеточки из белой шоколадной глазури.</div>
        </div>
        <div class="why-not__icons">
            <div class="why-not__icon">
                <div class="why-not__icon-picture why-not__icon-picture_cook"></div>
                <div class="why-not__icon-text">Лучшие повора своего дела</div>
            </div>
            <div class="why-not__icon">
                <div class="why-not__icon-picture why-not__icon-picture_green"></div>
                <div class="why-not__icon-text">Свежие ингредиенты</div>
            </div>
            <div class="why-not__icon">
                <div class="why-not__icon-picture why-not__icon-picture_heart"></div>
                <div class="why-not__icon-text">Приготовлено с любовью</div>
            </div>
        </div>
    </div>
</section>