<footer class="footer">
    <div class="footer__wrap">
        <div class="footer__info-logo">
            <div class="footer__logo"></div>
            <span class="footer__logo-text">Hipsweet</span>
        </div>
        <div class="footer__info">
            <div class="footer__copyright">© 2016 Все права защищены. </div>
            <span class="footer__adress">г. Москва, Вознесенский проспект 44 оф 166</span>
        </div>
        <div class="footer__socials">
            <a href="https://facebook.com" class="footer__social footer__social_fb"></a>
            <a href="https://instagram.com" class="footer__social footer__social_in"></a>
            <a href="https://ok.ru/" class="footer__social footer__social_ok"></a>
            <a href="https://twitter.com" class="footer__social footer__social_tw"></a>
            <a href="https://vk.com" class="footer__social footer__social_vk"></a>
        </div>
    </div>
</footer>