.main-section {
    position: relative;
    margin: 0;
    min-width: 1024px;
    min-height: 1030px;
    width: 100%;
    background: radial-gradient(ellipse at center, rgba(224,65,68,1) 0%, rgba(204,51,54,1) 51%, rgba(163,22,27,1) 100%);
    background-position: top right;
    background-size: 200%;
    font-family: Malina;
    }
.main-section:after {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    display: block;
    color: #fff;
    content: 'пирожинка';
    text-transform: uppercase;
    font: 184px/1 Malina, Helvetica;
    opacity: .1;
    transform: translate(-50%, -50%);
    }


    .header {
        width: 100%;
        height: 125px;
        }

        .header__wrap {
            margin: auto;
            width: 1285px;
            }
        .header__wrap:after{
            display: block;
            clear: both;
            content: '';
            }

        .header__info {
            float: left;
            width: 390px;
            height: 125px;
            font-size: 48px;
            }

            .header__logo {
                display: inline-block;
                background: inline('assets/logo.svg') center no-repeat;
                background-size: cover;
                vertical-align: middle;
                size: 110px 95px;
                }

            .header__logo-text {
                color: #fca211;
                line-height: 125px;
                }

        .header__navigation-wrap {
            float: right;
            height: 125px;
            }

            .header__navigation {
                display: inline-block;
                }

            .header__navigation-link {
                position: relative;
                display: inline-block;
                margin-right: 75px;
                color: #fff;
                text-decoration: none;
                font: 16px/125px Arial;
                }
            .header__navigation-link:hover {
                color: #ef9925;
                }
            .header__navigation-link:hover:after {
                background: inline('./assets/arrows-yellow.svg') center no-repeat;
                background-size: cover;
                }
            .header__navigation-link_sweets:after,
            .header__navigation-link_company:after,
            .header__navigation-link_team:after {
                position: absolute 50% -15px * *;
                background: inline('./assets/arrows.svg') center no-repeat;
                background-size: cover;
                content: '';
                transform: translate(0, -50%);
                size: 8px;
                }
            .header__navigation-link_team {
                margin: 0;
                }

            .header__socials {
                display: inline-block;
                }

            .header__navigation-link_cabinet,
            .header__navigation-link_search {
                display: inline-block;
                border-radius: 50%;
                vertical-align: middle;
                size: 42px;
                }
            .header__navigation-link_cabinet:hover,
            .header__navigation-link_search:hover {
                opacity: .8;
                }

            .header__team-wrap {
                position: relative;
                display: inline-block;
                margin-right: 75px;
                }
            .header__navigation-link_team:hover + .header__team-list {
                z-index: 2;
                opacity: 1;
                }
            .header__team-list {
                position: absolute 75px * * 50%;
                z-index: -1;
                box-sizing: border-box;
                padding: 40px 0;
                width: 225px;
                border-radius: 10px;
                background: #fff;
                list-style: none;
                font: 16px/32px Helvetica, Arial;
                opacity: 0;
                transition: opacity .2s ease-in .2s;
                transform: translate(-50%, 0);
                }
            .header__team-list:hover {
                z-index: 2;
                opacity: 1;
                }
            .header__team-list:before {
                position: absolute -30px * * 50%;
                display: inline-block;
                border: solid 20px transparent;
                border-top: solid 15px transparent;
                border-bottom: solid 15px #fff;
                content: '';
                transform: translate(-50%, 0);
                }
            .header__team-item {
                position: relative;
                overflow: hidden;
                width: 100%;
                color: #575757;
                text-align: center;
                cursor: pointer;
                }
            .header__team-item:hover {
                color: #303030;
                }
            .header__team-item:before {
                position: absolute;
                left: 0;
                display: inline-block;
                border: solid 10px transparent;
                border-left: solid 10px #ef9925;
                content: '';
                transition: transform ease-in .1s;
                transform: translateX(-10px);
                }
            .header__team-item:hover:before {
                transform: translateX(0px);
                }

            .header__navigation-link_cabinet {
                margin-right: 15px;
                background: rgba(255, 255, 255, .2) inline('assets/people.svg') center no-repeat;
                background-size: 18px auto;
                }
            .header__navigation-link_search {
                margin: 0;
                background: rgba(255, 255, 255, .2) inline('assets/search.svg') center no-repeat;
                background-size: 18px auto;
                }

    .main-section__content {
        position: relative;
        z-index: 1;
        box-sizing: border-box;
        margin: auto;
        width: 1160px;
        height: 790px;
        color: #fff;
        font: 13px/1 Arial;
        overflow: hidden;
        }

    .main-section__content-list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: block;
        height: 100%;
        width: 7000px;
        position: relative;
        left: 0;
        transition: left ease-in-out 1s;
        }

    .main-section__content-item {
        display: inline-block;
        size: 1160px 100%;
        position: relative;
        }

    .main-section__sweet_info {
        position: absolute 50% * * 0;
        display: inline-block;
        width: 125px;
        text-align: center;
        transform: translateY(-50%);
        }

        .main-section__ingredients-wrap {
            position: relative;
            margin-bottom: 75px;
            }
        .main-section__ingredients{
            cursor: pointer;
            }
        .main-section__ingredients-icon {
            position: absolute -55px * * 50%;
            display: inline-block;
            border-radius: 50%;
            background: rgba(255, 255, 255, .2) inline('assets/cooking.svg') center no-repeat;
            background-size: 18px auto;
            transform: translateX(-50%);
            size: 42px;
            }
        .main-section__ingredients:hover .main-section__ingredients-icon{
            background: #ffaf28 inline('assets/cooking-red.svg') center no-repeat;
            background-size: 18px auto;
            }
        .main-section__ingredients:hover .main-section__ingredients-text {
            color: #ef9925;
            }
        .main-section__ingredients:hover + .main-section__ingredients-list{
            z-index: 3;
            opacity: 1;
            }

        .main-section__ingredients-list {
            position: absolute 50% * * 140px;
            box-sizing: border-box;
            padding: 55px;
            min-height: 290px;
            width: 400px;
            border-radius: 10px;
            background: #fff;
            color: #575757;
            list-style: none;
            font: 16px/32px Helvetica, Arial;
            opacity: 0;
            transition: opacity .2s ease-in .3s;
            transform: translateY(-50%);
            }
        .main-section__ingredients-list:before {
            position: absolute 25% * * -28px;
            display: inline-block;
            border: solid 20px transparent;
            border-right: solid 15px #fff;
            border-left: solid 15px transparent;
            content: '';
            }
        .main-section__ingredients-item_bread {
            background: inline('assets/food-4.svg') left no-repeat;
            background-size: 20px auto;
            }
        .main-section__ingredients-item_eggs {
            background: inline('assets/food.svg') left no-repeat;
            background-size: 20px auto;
            }
        .main-section__ingredients-item_sugar {
            background: inline('assets/food-1.svg') left no-repeat;
            background-size: 20px auto;
            }
        .main-section__ingredients-item_butter {
            background: inline('assets/food-2.svg') left no-repeat;
            background-size: 20px auto;
            }
        .main-section__ingredients-item_milk {
            background: inline('assets/food-3.svg') left no-repeat;
            background-size: 20px auto;
            }
        .main-section__save-text {
            color: rgba(255, 255, 255, .3);
            }

        .main-section__save-count {
            font: 24px/26px Malina;
            }

    .main-section__sweet_photo {
        position: absolute 50% * * 225px;
        z-index: -1;
        background: url('../assets/cake.png') center no-repeat;
        background-size: cover;
        transform: translateY(-50%);
        size: 485px 570px;
        }

    .main-section__sweet_about {
        position: absolute 50% 0 * *;
        width: 370px;
        font: 48px/1 Malina, Helvetica, Arial;
        font-weight: 100;
        transform: translateY(-50%);
        }

        .main-section__sweet-name {
            margin-bottom: 35px;
            font-weight: 200;
            }

        .main-section__sweet-text {
            margin-bottom: 35px;
            font: 15px/18px Helvetica, Arial;
            }

        .main-section__sweet-price {
            display: inline-block;
            margin-right: 20px;
            font-weight: 200;
            }

        .main-section__sweet-button {
            display: inline-block;
            box-sizing: border-box;
            padding: * 20px *;
            border-radius: 20px;
            background: #ffaf28;
            color: #b11d23;
            vertical-align: middle;
            font: 15px/18px Helvetica, Arial;
            line-height: 40px;
            cursor: pointer;
            }
        .main-section__sweet-button:hover {
            opacity: .8;
            }

    .main-section__toggle-menu {
        position: absolute * * 50px 50%;
        padding: 0;
        list-style: none;
        transform: translateX(-50%);
        }

    .main-section__toggle-li {
        position: relative;
        display: inline-block;
        margin-right: 30px;
        size: 20px;
        }

    .main-section__toggle-item {
        position: absolute 50% * * 50%;
        display: inline-block;
        border-radius: 50%;
        background: #fff;
        cursor: pointer;
        transition: border ease-in .3s;
        transform: translate(-50%, -50%);
        size: 10px;
        }
    .main-section__toggle-item:hover,
    .main-section__toggle-item_active {
        border: solid 5px #fff;
        transition: border ease-in .3s;
        }