<section class="main-section">
    <header class="header">
        <div class="header__wrap">
            <div class="header__info">
                <div class="header__logo"></div>
                <span class="header__logo-text">Hipsweet</span>
            </div>
            <nav class="header__navigation">
                <a href="#" class="header__navigation-link header__navigation-link_sweets">Сладости</a>
                <a href="#" class="header__navigation-link header__navigation-link_delivery">Доставка</a>
                <a href="#" class="header__navigation-link header__navigation-link_company">Компания</a>
                <a href="#" class="header__navigation-link header__navigation-link_team">Команда</a>
                <a href="#" class="header__navigation-link header__navigation-link_cabinet"></a>
                <a href="#" class="header__navigation-link header__navigation-link_search"></a>
            </nav>
        </div>
    </header>

    <div class="main-section__content">
        <div class="main-section__sweet main-section__sweet_info">
            <div class="main-section__ingredients">Ингридиенты</div>
            <div class="main-section__save-text">Срок хранения</div>
            <div class="main-section__save-count">120 часов</div>
        </div>
        <div class="main-section__sweet main-section__sweet_photo"></div>
        <div class="main-section__sweet main-section__sweet_about">
            <h2 class="main-section__sweet-name">Sweet Cupcake</h2>
            <div class="main-section__sweet-text">В основе пирожного Sweet Cupcake выпеченный бисквит, промоченный сахарным сиропом с добавлением коньяка и десертного вина. Прослоено суфлейной массой, смешанной с апельсиновым концентратом (калоризатор). Заглазировано шоколадной глазурью с нанесением сеточки из белой шоколадной глазури</div>
            <div class="main-section__sweet-price"><strong>199</strong> Pi</div>
            <a class="main-section__sweet-button">Заказать</a>
        </div>
    </div>
</section>