<section class="main-section">
    <header class="header">
        <div class="header__wrap">
            <div class="header__info">
                <div class="header__logo"></div>
                <span class="header__logo-text">Hipsweet</span>
            </div>
            <div class="header__navigation-wrap">
                <nav class="header__navigation">
                    <a href="#" class="header__navigation-link header__navigation-link_sweets">Сладости</a>
                    <a href="#" class="header__navigation-link header__navigation-link_delivery">Доставка</a>
                    <a href="#" class="header__navigation-link header__navigation-link_company">Компания</a>
                    <div class="header__team-wrap">
                        <a href="#" class="header__navigation-link header__navigation-link_team">Команда</a>
                        <ul class="header__team-list">
                            <li class="header__team-item">Тони Ройстер</li>
                            <li class="header__team-item">Ричард Джеймс</li>
                            <li class="header__team-item">Марти Модстер</li>
                            <li class="header__team-item">Тони Ройстер</li>
                            <li class="header__team-item">Тони Ройстер</li>
                            <li class="header__team-item">Ричард Джейс</li>
                            <li class="header__team-item">Ричард Джейс</li>
                        </ul>
                    </div>
                </nav>
                
                <div class="header__socials">
                    <a href="#" class="header__navigation-link_cabinet"></a>
                    <a href="#" class="header__navigation-link_search"></a>
                </div>
            </div>
        </div>
    </header>

    <div class="main-section__content">
        <ul class="main-section__content-list" id="slider-list">
            <li class="main-section__content-item">
                <div class="main-section__sweet_info">
                    <div class="main-section__ingredients-wrap">
                        <div class="main-section__ingredients">
                            <div class="main-section__ingredients-icon"></div>
                            <span class="main-section__ingredients-text">Ингридиенты</span>
                        </div>
                        <ul class="main-section__ingredients-list">
                            <li class="main-section__ingredients-item main-section__ingredients-item_bread">мука пшеничная............200 г.</li>
                            <li class="main-section__ingredients-item main-section__ingredients-item_eggs">яйце продукты.................3 шт.</li>
                            <li class="main-section__ingredients-item main-section__ingredients-item_sugar">сахарный песок...............20 г.</li>
                            <li class="main-section__ingredients-item main-section__ingredients-item_butter">масло сливочное............50 г.</li>
                            <li class="main-section__ingredients-item main-section__ingredients-item_milk">молоко сгущеное...........100 г.</li>
                        </ul>
                    </div>
                    <div class="main-section__save-text">Срок хранения</div>
                    <div class="main-section__save-count">120 часов</div>
                </div>
                <div class="main-section__sweet_photo"></div>
                <div class="main-section__sweet_about">
                    <h2 class="main-section__sweet-name">Sweet Cupcake</h2>
                    <div class="main-section__sweet-text">В основе пирожного Sweet Cupcake выпеченный бисквит, промоченный сахарным сиропом с добавлением коньяка и десертного вина. Прослоено суфлейной массой, смешанной с апельсиновым концентратом (калоризатор). Заглазировано шоколадной глазурью с нанесением сеточки из белой шоколадной глазури</div>
                    <div class="main-section__sweet-price"><strong>199</strong>R</div>
                    <a href="#form" class="main-section__sweet-button">Заказать</a>
                </div>
            </li>
            <li class="main-section__content-item">
                <div class="main-section__sweet_info">
                    <div class="main-section__ingredients-wrap">
                        <div class="main-section__ingredients">
                            <div class="main-section__ingredients-icon"></div>
                            <span class="main-section__ingredients-text">Ингридиенты</span>
                        </div>
                        <ul class="main-section__ingredients-list">
                            <li class="main-section__ingredients-item main-section__ingredients-item_bread">мука пшеничная............200 г.</li>
                            <li class="main-section__ingredients-item main-section__ingredients-item_eggs">яйце продукты.................3 шт.</li>
                            <li class="main-section__ingredients-item main-section__ingredients-item_sugar">сахарный песок...............20 г.</li>
                            <li class="main-section__ingredients-item main-section__ingredients-item_butter">масло сливочное............50 г.</li>
                            <li class="main-section__ingredients-item main-section__ingredients-item_milk">молоко сгущеное...........100 г.</li>
                        </ul>
                    </div>
                    <div class="main-section__save-text">Срок хранения</div>
                    <div class="main-section__save-count">120 часов</div>
                </div>
                <div class="main-section__sweet_photo"></div>
                <div class="main-section__sweet_about">
                    <h2 class="main-section__sweet-name">Sweet Cupcake</h2>
                    <div class="main-section__sweet-text">В основе пирожного Sweet Cupcake выпеченный бисквит, промоченный сахарным сиропом с добавлением коньяка и десертного вина. Прослоено суфлейной массой, смешанной с апельсиновым концентратом (калоризатор). Заглазировано шоколадной глазурью с нанесением сеточки из белой шоколадной глазури</div>
                    <div class="main-section__sweet-price"><strong>199</strong>R</div>
                    <a href="#form" class="main-section__sweet-button">Заказать</a>
                </div>
            </li>
            <li class="main-section__content-item">
                <div class="main-section__sweet_info">
                    <div class="main-section__ingredients-wrap">
                        <div class="main-section__ingredients">
                            <div class="main-section__ingredients-icon"></div>
                            <span class="main-section__ingredients-text">Ингридиенты</span>
                        </div>
                        <ul class="main-section__ingredients-list">
                            <li class="main-section__ingredients-item main-section__ingredients-item_bread">мука пшеничная............200 г.</li>
                            <li class="main-section__ingredients-item main-section__ingredients-item_eggs">яйце продукты.................3 шт.</li>
                            <li class="main-section__ingredients-item main-section__ingredients-item_sugar">сахарный песок...............20 г.</li>
                            <li class="main-section__ingredients-item main-section__ingredients-item_butter">масло сливочное............50 г.</li>
                            <li class="main-section__ingredients-item main-section__ingredients-item_milk">молоко сгущеное...........100 г.</li>
                        </ul>
                    </div>
                    <div class="main-section__save-text">Срок хранения</div>
                    <div class="main-section__save-count">120 часов</div>
                </div>
                <div class="main-section__sweet_photo"></div>
                <div class="main-section__sweet_about">
                    <h2 class="main-section__sweet-name">Sweet Cupcake</h2>
                    <div class="main-section__sweet-text">В основе пирожного Sweet Cupcake выпеченный бисквит, промоченный сахарным сиропом с добавлением коньяка и десертного вина. Прослоено суфлейной массой, смешанной с апельсиновым концентратом (калоризатор). Заглазировано шоколадной глазурью с нанесением сеточки из белой шоколадной глазури</div>
                    <div class="main-section__sweet-price"><strong>199</strong>R</div>
                    <a href="#form" class="main-section__sweet-button">Заказать</a>
                </div>
            </li>
            <li class="main-section__content-item">
                <div class="main-section__sweet_info">
                    <div class="main-section__ingredients-wrap">
                        <div class="main-section__ingredients">
                            <div class="main-section__ingredients-icon"></div>
                            <span class="main-section__ingredients-text">Ингридиенты</span>
                        </div>
                        <ul class="main-section__ingredients-list">
                            <li class="main-section__ingredients-item main-section__ingredients-item_bread">мука пшеничная............200 г.</li>
                            <li class="main-section__ingredients-item main-section__ingredients-item_eggs">яйце продукты.................3 шт.</li>
                            <li class="main-section__ingredients-item main-section__ingredients-item_sugar">сахарный песок...............20 г.</li>
                            <li class="main-section__ingredients-item main-section__ingredients-item_butter">масло сливочное............50 г.</li>
                            <li class="main-section__ingredients-item main-section__ingredients-item_milk">молоко сгущеное...........100 г.</li>
                        </ul>
                    </div>
                    <div class="main-section__save-text">Срок хранения</div>
                    <div class="main-section__save-count">120 часов</div>
                </div>
                <div class="main-section__sweet_photo"></div>
                <div class="main-section__sweet_about">
                    <h2 class="main-section__sweet-name">Sweet Cupcake</h2>
                    <div class="main-section__sweet-text">В основе пирожного Sweet Cupcake выпеченный бисквит, промоченный сахарным сиропом с добавлением коньяка и десертного вина. Прослоено суфлейной массой, смешанной с апельсиновым концентратом (калоризатор). Заглазировано шоколадной глазурью с нанесением сеточки из белой шоколадной глазури</div>
                    <div class="main-section__sweet-price"><strong>199</strong>R</div>
                    <a href="#form" class="main-section__sweet-button">Заказать</a>
                </div>
            </li>
            <li class="main-section__content-item">
                <div class="main-section__sweet_info">
                    <div class="main-section__ingredients-wrap">
                        <div class="main-section__ingredients">
                            <div class="main-section__ingredients-icon"></div>
                            <span class="main-section__ingredients-text">Ингридиенты</span>
                        </div>
                        <ul class="main-section__ingredients-list">
                            <li class="main-section__ingredients-item main-section__ingredients-item_bread">мука пшеничная............200 г.</li>
                            <li class="main-section__ingredients-item main-section__ingredients-item_eggs">яйце продукты.................3 шт.</li>
                            <li class="main-section__ingredients-item main-section__ingredients-item_sugar">сахарный песок...............20 г.</li>
                            <li class="main-section__ingredients-item main-section__ingredients-item_butter">масло сливочное............50 г.</li>
                            <li class="main-section__ingredients-item main-section__ingredients-item_milk">молоко сгущеное...........100 г.</li>
                        </ul>
                    </div>
                    <div class="main-section__save-text">Срок хранения</div>
                    <div class="main-section__save-count">120 часов</div>
                </div>
                <div class="main-section__sweet_photo"></div>
                <div class="main-section__sweet_about">
                    <h2 class="main-section__sweet-name">Sweet Cupcake</h2>
                    <div class="main-section__sweet-text">В основе пирожного Sweet Cupcake выпеченный бисквит, промоченный сахарным сиропом с добавлением коньяка и десертного вина. Прослоено суфлейной массой, смешанной с апельсиновым концентратом (калоризатор). Заглазировано шоколадной глазурью с нанесением сеточки из белой шоколадной глазури</div>
                    <div class="main-section__sweet-price"><strong>199</strong>R</div>
                    <a href="#form" class="main-section__sweet-button">Заказать</a>
                </div>
            </li>
            <li class="main-section__content-item">
                <div class="main-section__sweet_info">
                    <div class="main-section__ingredients-wrap">
                        <div class="main-section__ingredients">
                            <div class="main-section__ingredients-icon"></div>
                            <span class="main-section__ingredients-text">Ингридиенты</span>
                        </div>
                        <ul class="main-section__ingredients-list">
                            <li class="main-section__ingredients-item main-section__ingredients-item_bread">мука пшеничная............200 г.</li>
                            <li class="main-section__ingredients-item main-section__ingredients-item_eggs">яйце продукты.................3 шт.</li>
                            <li class="main-section__ingredients-item main-section__ingredients-item_sugar">сахарный песок...............20 г.</li>
                            <li class="main-section__ingredients-item main-section__ingredients-item_butter">масло сливочное............50 г.</li>
                            <li class="main-section__ingredients-item main-section__ingredients-item_milk">молоко сгущеное...........100 г.</li>
                        </ul>
                    </div>
                    <div class="main-section__save-text">Срок хранения</div>
                    <div class="main-section__save-count">120 часов</div>
                </div>
                <div class="main-section__sweet_photo"></div>
                <div class="main-section__sweet_about">
                    <h2 class="main-section__sweet-name">Sweet Cupcake</h2>
                    <div class="main-section__sweet-text">В основе пирожного Sweet Cupcake выпеченный бисквит, промоченный сахарным сиропом с добавлением коньяка и десертного вина. Прослоено суфлейной массой, смешанной с апельсиновым концентратом (калоризатор). Заглазировано шоколадной глазурью с нанесением сеточки из белой шоколадной глазури</div>
                    <div class="main-section__sweet-price"><strong>199</strong>R</div>
                    <a href="#form" class="main-section__sweet-button">Заказать</a>
                </div>
            </li>
            <li class="main-section__content-item">
                <div class="main-section__sweet_info">
                    <div class="main-section__ingredients-wrap">
                        <div class="main-section__ingredients">
                            <div class="main-section__ingredients-icon"></div>
                            <span class="main-section__ingredients-text">Ингридиенты</span>
                        </div>
                        <ul class="main-section__ingredients-list">
                            <li class="main-section__ingredients-item main-section__ingredients-item_bread">мука пшеничная............200 г.</li>
                            <li class="main-section__ingredients-item main-section__ingredients-item_eggs">яйце продукты.................3 шт.</li>
                            <li class="main-section__ingredients-item main-section__ingredients-item_sugar">сахарный песок...............20 г.</li>
                            <li class="main-section__ingredients-item main-section__ingredients-item_butter">масло сливочное............50 г.</li>
                            <li class="main-section__ingredients-item main-section__ingredients-item_milk">молоко сгущеное...........100 г.</li>
                        </ul>
                    </div>
                    <div class="main-section__save-text">Срок хранения</div>
                    <div class="main-section__save-count">120 часов</div>
                </div>
                <div class="main-section__sweet_photo"></div>
                <div class="main-section__sweet_about">
                    <h2 class="main-section__sweet-name">Sweet Cupcake</h2>
                    <div class="main-section__sweet-text">В основе пирожного Sweet Cupcake выпеченный бисквит, промоченный сахарным сиропом с добавлением коньяка и десертного вина. Прослоено суфлейной массой, смешанной с апельсиновым концентратом (калоризатор). Заглазировано шоколадной глазурью с нанесением сеточки из белой шоколадной глазури</div>
                    <div class="main-section__sweet-price"><strong>199</strong>R</div>
                    <a href="#form" class="main-section__sweet-button">Заказать</a>
                </div>
            </li>
        </ul>
    </div>
    <ul class="main-section__toggle-menu">
        <li class="main-section__toggle-li"><a href="#" data-left="0" class="main-section__toggle-item main-section__toggle-item_active"></a></li>
        <li class="main-section__toggle-li"><a href="#" data-left="1160" class="main-section__toggle-item"></a></li>
        <li class="main-section__toggle-li"><a href="#" data-left="2325" class="main-section__toggle-item"></a></li>
        <li class="main-section__toggle-li"><a href="#" data-left="3490" class="main-section__toggle-item"></a></li>
        <li class="main-section__toggle-li"><a href="#" data-left="4650" class="main-section__toggle-item"></a></li>
        <li class="main-section__toggle-li"><a href="#" data-left="5815" class="main-section__toggle-item"></a></li>
    </ul>
</section>