.questions {
    min-height: 740px;
    width: 100%;
    background: url('../assets/bg.png') center/100% auto repeat-y;
    }

    .questions__wrap {
        box-sizing: border-box;
        margin: auto;
        padding: 130px *;
        width: 885px;
        color: #fff;
        }

    .questions__title {
        margin: 0 0 30px;
        text-align: center;
        font: 200 42px/46px Malina, Helvetica, Arial, sans-serif;
        }

    .questions__item {
        margin: 0 0 30px;
        text-align: left;
        text-decoration: none;
        font: 24px/1 Arial, Helvetica, sans-serif;
        }

    .questions__trigger {
        border-bottom: dashed 1px;
        color: #fff;
        text-decoration: none;
        }
    .questions__trigger:hover,
    .questions__trigger_active {
        color: #ffb100;
        }

    .questions__answer {
        overflow: hidden;
        box-sizing: border-box;
        padding: 0 0 0 100px;
        height: 0;
        font: 16px/1 Arial, Helvetica, sans-serif;
        transition: height ease-in .3s;
        }
    .questions__trigger_active + .questions__answer {
        overflow: scroll;
        height: 180px;
        }