<section class="questions">
    <div class="questions__wrap">
        <h2 class="questions__title">Часто задаваемые вопросы</h2>
        <div class="questions__item">
            <a href="#" class="questions__trigger questions__trigger_active">1. Сколько по времени курьер доставляет заказ?</a>
            <div class="questions__answer questions__answer_show">
                <p>В античное время и средние века курьерами называли посыльных, конных гонцов, доставлявших секретную и дипломатическую почту. ”аковой, например, была введенная в Римской империи Августом государственная курьерская служба, называвшаяся cursus publicus.</p>
                <p>В допетровской России рассыльные (гонцы) были служилыми людьми, «по прибору» и содержались за счет государственной казны. Особая курьерская почтовая служба была основана в 1701 году Петром I на Смоленском и Архангельском трактах для доставки чрезвычайных скорых посылок с царскими грамотами. Военных посыльных называют фельдъегерями, (начиная с середины XVIII века), а доставляющих дипломатическую почту — дипкурьерами.</p>
            </div>
        </div>
        <div class="questions__item">
            <a href="#" class="questions__trigger">2. Если курьер опоздал, будут ли какие то бонусы?</a>
            <div class="questions__answer">
                <p>В античное время и средние века курьерами называли посыльных, конных гонцов, доставлявших секретную и дипломатическую почту. ”аковой, например, была введенная в Римской империи Августом государственная курьерская служба, называвшаяся cursus publicus.</p>
                <p>В допетровской России рассыльные (гонцы) были служилыми людьми, «по прибору» и содержались за счет государственной казны. Особая курьерская почтовая служба была основана в 1701 году Петром I на Смоленском и Архангельском трактах для доставки чрезвычайных скорых посылок с царскими грамотами. Военных посыльных называют фельдъегерями, (начиная с середины XVIII века), а доставляющих дипломатическую почту — дипкурьерами.</p>
            </div>
        </div>
        <div class="questions__item">
            <a href="#" class="questions__trigger">3. Добавляете ли вы какие-либо консерванты в ваши продукты?</a>
            <div class="questions__answer">
                <p>В античное время и средние века курьерами называли посыльных, конных гонцов, доставлявших секретную и дипломатическую почту. ”аковой, например, была введенная в Римской империи Августом государственная курьерская служба, называвшаяся cursus publicus.</p>
                <p>В допетровской России рассыльные (гонцы) были служилыми людьми, «по прибору» и содержались за счет государственной казны. Особая курьерская почтовая служба была основана в 1701 году Петром I на Смоленском и Архангельском трактах для доставки чрезвычайных скорых посылок с царскими грамотами. Военных посыльных называют фельдъегерями, (начиная с середины XVIII века), а доставляющих дипломатическую почту — дипкурьерами.</p>
            </div>
        </div>
        <div class="questions__item">
            <a href="#" class="questions__trigger">4. Как долго готовиться у вас индивидуальный торт?</a>
            <div class="questions__answer">
                <p>В античное время и средние века курьерами называли посыльных, конных гонцов, доставлявших секретную и дипломатическую почту. ”аковой, например, была введенная в Римской империи Августом государственная курьерская служба, называвшаяся cursus publicus.</p>
                <p>В допетровской России рассыльные (гонцы) были служилыми людьми, «по прибору» и содержались за счет государственной казны. Особая курьерская почтовая служба была основана в 1701 году Петром I на Смоленском и Архангельском трактах для доставки чрезвычайных скорых посылок с царскими грамотами. Военных посыльных называют фельдъегерями, (начиная с середины XVIII века), а доставляющих дипломатическую почту — дипкурьерами.</p>
            </div>
        </div>
    </div>
</section>