<section class="team">
    <div class="team__wrap">
        <h2 class="team__title">Наша команда</h2>
        <div class="team__navigation">
            <div href="#" class="team__name-link team__name-link_active">
                <div class="team__name">Тони Ройстер</div>
                <div class="team__profession">Главный шеф повар</div>
            </div>
            <div href="#" class="team__name-link">
                <div class="team__name">Ричард Джейс</div>
                <div class="team__profession">Главный кондитер</div>
            </div>
            <div href="#" class="team__name-link">
                <div class="team__name">Майти Модстер</div>
                <div class="team__profession">Дегустатор</div>
            </div>
        </div>
        <div class="team__content">
            <div class="team__content_item team__content_item_1">
                <div class="team__content_info-left">
                    <p>Тони родился в Ленинграде в 1985 году. Учился в Морском техническом колледже по специальности «судовой повар». В кулинарную жизнь окунулся в 2005, когда попал к Фабрицио Фатуччи (ресторан Sculptors) и стал его правой рукой. Нередко они вместе лично обслуждали Президента России Дмитрия Медведева на открытых и закрытых мероприятиях.</p>
                    <p class="team__content_bold">Тони неоднократно посещал Италию, где изучал местную гастрономию и абрался опыта.</p>
                </div>
                <div class="team__content_info-right">
                    <p>Шеф-повар является постоянным участником различных номинаций и фестивалей: выступал в Париже на мировом фестивале Omnivore Paris в команде с Иваном Березуцким; представлял Россию на неделе русской кухни в Эстонии; регулярно участвовал в «Мадрид Фьюжн», съезде шеф-поваров со всего мира, где представляются новые гастрономические техники. В 2012 г. на Экономическом форуме обеспечивал работу кухни для высокопоставленных лиц. Не так давно был участником экспедиции на Белое море, где узнал все о региональных продуктах и особенностях кухни. В 2013 участвовал в фестивале «Северная кухня»; выезжал на гастроли в Москву, открывая «pop-up» проект DOOR 19.</p>
                    <p>Тони занимается развитием и инновациями в русской гастрономии, а также увлекается искусством — пишет картины.</p>
                </div>
            </div>
            <div class="team__content_item team__content_item_2">
                <div class="team__content_info-left">
                    <p>Тони родился в Ленинграде в 1985 году. Учился в Морском техническом колледже по специальности «судовой повар». В кулинарную жизнь окунулся в 2005, когда попал к Фабрицио Фатуччи (ресторан Sculptors) и стал его правой рукой. Нередко они вместе лично обслуждали Президента России Дмитрия Медведева на открытых и закрытых мероприятиях.</p>
                    <p class="team__content_bold">Тони неоднократно посещал Италию, где изучал местную гастрономию и абрался опыта.</p>
                </div>
                <div class="team__content_info-right">
                    <p>Шеф-повар является постоянным участником различных номинаций и фестивалей: выступал в Париже на мировом фестивале Omnivore Paris в команде с Иваном Березуцким; представлял Россию на неделе русской кухни в Эстонии; регулярно участвовал в «Мадрид Фьюжн», съезде шеф-поваров со всего мира, где представляются новые гастрономические техники. В 2012 г. на Экономическом форуме обеспечивал работу кухни для высокопоставленных лиц. Не так давно был участником экспедиции на Белое море, где узнал все о региональных продуктах и особенностях кухни. В 2013 участвовал в фестивале «Северная кухня»; выезжал на гастроли в Москву, открывая «pop-up» проект DOOR 19.</p>
                    <p>Тони занимается развитием и инновациями в русской гастрономии, а также увлекается искусством — пишет картины.</p>
                </div>
            </div>
            <div class="team__content_item team__content_item_3">
                <div class="team__content_info-left">
                    <p>Тони родился в Ленинграде в 1985 году. Учился в Морском техническом колледже по специальности «судовой повар». В кулинарную жизнь окунулся в 2005, когда попал к Фабрицио Фатуччи (ресторан Sculptors) и стал его правой рукой. Нередко они вместе лично обслуждали Президента России Дмитрия Медведева на открытых и закрытых мероприятиях.</p>
                    <p class="team__content_bold">Тони неоднократно посещал Италию, где изучал местную гастрономию и абрался опыта.</p>
                </div>
                <div class="team__content_info-right">
                    <p>Шеф-повар является постоянным участником различных номинаций и фестивалей: выступал в Париже на мировом фестивале Omnivore Paris в команде с Иваном Березуцким; представлял Россию на неделе русской кухни в Эстонии; регулярно участвовал в «Мадрид Фьюжн», съезде шеф-поваров со всего мира, где представляются новые гастрономические техники. В 2012 г. на Экономическом форуме обеспечивал работу кухни для высокопоставленных лиц. Не так давно был участником экспедиции на Белое море, где узнал все о региональных продуктах и особенностях кухни. В 2013 участвовал в фестивале «Северная кухня»; выезжал на гастроли в Москву, открывая «pop-up» проект DOOR 19.</p>
                    <p>Тони занимается развитием и инновациями в русской гастрономии, а также увлекается искусством — пишет картины.</p>
                </div>
            </div>
        </div>
        <div class="order">
            <h2 class="order__title">Закажи сейчас</h2>
            <form action="" class="order__form" id="order">
                <input class="order__input" type="text" name="name" placeholder="Введите ваше имя" required>
                <input class="order__input" type="email" name="email" placeholder="Введите ваш Email" required>
                <input class="order__input" type="tel" name="tell" placeholder="8 (___) ___-__-__" required>
                <input class="order__checkbox" type="checkbox" name="want-to-call" id="order-call">
                <label class="order__checkbox-label" for="order-call">Заказать обратный звонок</label>
                <a href=# class="order__button" onclick="document.getElementById('order').submit()" ></a>
            </form>
        </div>
    </div>
</section>