.team {
    background: radial-gradient(ellipse at center, #fafbfb 0%, #fcfbfc 40%, #fcfbfc 60%, #e1e2e1 100%);
    size: 100% 1585px;
    }

    .team__wrap {
        box-sizing: border-box;
        margin: auto;
        padding: 200px *;
        width: 1290px;
        }

        .team__title {
            display: inline-block;
            margin: 0 70px 0 0;
            width: 350px;
            color: #2b2f60;
            vertical-align: top;
            font: 72px/1 Malina, Helvetica, Arial, sans-serif;
            }

        .team__navigation {
            display: inline-block;
            }

            .team__name-link {
                position: relative;
                display: inline-block;
                box-sizing: border-box;
                margin: 0 5px 0 0;
                padding: 25px 40px;
                width: 255px;
                border-radius: 20px;
                color: #2b2f60;
                vertical-align: top;
                font-size: 36px;
                cursor: pointer;
                transition: background ease-in .3s, color ease-in .3s;
                }
            .team__name-link:after {
                position: absolute * * -20px 50%;
                display: inline-block;
                border: solid 20px transparent;
                border-top: solid 10px transparent;
                border-bottom: solid 10px transparent;
                content: '';
                transition: border ease-in .3s;
                transform: translateX(-50%);
                }
            .team__name-link:hover {
                border-radius: 20px;
                color: #ffa82b #893213;
                vertical-align: top;
                font-size: 36px;
                cursor: pointer;
                }
            .team__name-link:hover .team__profession {
                color: #fff;
                }
            .team__name-link:hover:after {
                border-top: solid 10px #893213;
                }

            .team__name-link_active {
                border-radius: 20px;
                color: #ffa82b #893213;
                vertical-align: top;
                font-size: 36px;
                cursor: pointer;
                }
            .team__name-link_active .team__profession {
                color: #fff;
                }
            .team__name-link_active:after {
                border-top: solid 10px #893213;
                }

            .team__name {
                margin-bottom: 15px;
                }

            .team__profession {
                color: #babab9;
                font: 16px/1 Helvetica, Arial, sans-serif;
                }

    .team__content {
        position: relative;
        color: #747474;
        font: 16px/20px Arial;
        size: 100% 640px;
        }

        .team__content_item {
            display: none;
            box-sizing: border-box;
            padding: 60px 0 0;
            background: url('../assets/cook-team.png') bottom/500px auto no-repeat;
            size: 100%;
            }

        .team__content_info {
            font-style: italic;
            columns: 2 12em;
            column-gap: 500px;
            }
        .team__content_info p:first-child:after {
            position: absolute 0 -60px * *;
            display: inline-block;
            color: #dedede;
            content: '"';
            font-size: 150px;
            opacity: .7;
            }

        .team__content_info-right {
            position: absolute 50% 0 * *;
            width: 405px;
            transform: translateY(-50%);
            }

        .team__content_bold {
            color: #393939;
            font-weight: bold;
            }

        .team__content_item_shown {
            display: inline-block;
            }

    .order {
        position: relative;
        margin: auto;
        border-radius: 20px;
        background: url('../assets/bg_chocolate.png') center/cover no-repeat;
        size: 885px 410px;
        }

    .order__title {
        position: absolute 140px * * 90px;
        display: inline-block;
        box-sizing: border-box;
        margin: 0;
        width: 50%;
        color: #fff;
        font: 72px/76px Malina, Helvetica, Arial, sans-serif;
        }
    
    .order__form {
        position: absolute 0 0 0 *;
        display: inline-block;
        box-sizing: border-box;
        padding: 80px 45px 60px;
        border-radius: 0 20px 20px 0;
        color: #fff rgba(0, 0, 0, .6);
        vertical-align: top;
        font: 16px/36px Arial;
        size: 50% 100%;
        }

    .order__input {
        margin: 0 0 30px;
        width: 100%;
        outline: none;
        border: none;
        border-bottom: solid 1px #fff;
        color: #fff transparent;
        font: bold 16px/36px Arial;
        }

    .order__checkbox-wrap {
        position: relative;
        }

        .order__checkbox {
            display: none;

            &:checked + .order__checkbox-twin {
                background:
                    inline('./assets/square.svg') left/15px no-repeat,
                    inline('./assets/check.svg') 2px -2px/15px no-repeat;
                }
            }

        .order__checkbox-label {
            cursor: pointer;
            }

        .order__checkbox-twin {
            display: inline-block;
            vertical-align: middle;
            margin: 0 5px 0 0;
            size: 15px;
            background: inline('./assets/square.svg') left/15px no-repeat;
            cursor: pointer;
            }

    .order__button {
        position: absolute * -25px -25px *;
        display: inline-block;
        outline: none;
        border: none;
        border-radius: 50%;
        background: #ffb100 inline('assets/arrows.svg') no-repeat;
        background-position: 26px 25px;
        background-size: 50px;
        cursor: pointer;
        size: 100px;
        
        &:hover {
            background: #ffb100 inline('assets/arrows.svg') 24px 24px/55px no-repeat;
            }
        &:active {
            box-shadow: inset 0 0 15px yellow;
            }
        }
