.products {
    width: 100%;
    height: 1450px;
    background: url('../assets/patrn.png');
    }

    .products__wrap {
        margin: auto;
        padding: 140px * *;
        width: 1265px;
        }

    .products__title {
        margin: 0 * 30px;
        color: #393939;
        text-align: center;
        font: 72px/1 Malina;
        }

    .products__text {
        margin:  * auto 25px;
        width: 935px;
        color: #883213;
        text-align: center;
        font: 18px/20px Helvetica, Arial;
        }
    .products__list {
        margin-right: -30px;
        list-style: none;
        }
    .products__item {
        position: relative;
        display: inline-block;
        margin-right: 30px;
        padding-top: 295px;
        width: 260px;
        vertical-align: top;
        text-align: center;
        }

        .products__item-photo {
            position: absolute 0 * *;
            z-index: 1;
            margin-bottom: 10px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            size: 100% 285px;
            }

        .products__item-name {
            position: relative;
            margin-bottom: 10px;
            color: #393939;
            font: 36px/38px Malina;
            }
        .products__item-name:after{
            position: absolute -240px * * 50%;
            z-index: 0;
            display: block;
            border-radius: 50%;
            background: #000;
            content: '';
            opacity: .3;
            transform: translateX(-50%);
            size: 200px;
            }
        .products__item-about {
            color: #ab594a;
            font: 14px/16px Helvetica, Arial;
            }