<section class="products">
    <div class="products__wrap">
        <h2 class="products__title">Мы поставляем</h2>
        <div class="products__text">Также мы делаем выпечку под заказ для различных праздников и банкетов. Заказать индивидуальную выпечку вы можете заполнив форму. После с Вами свяжется один из наших поваров и обсудит заказ более детально.</div>
        <ul class="products__list">
            <li class="products__item">
                <div class="products__item-photo"></div>
                <div class="products__item-name"></div>
                <div class="products__item-about">Десерт, состоящий из одного или нескольких коржей, пропитанных кремом или джемом. Сверху торт обычно украшают кремом, глазурью или ahernfvb</div>
            </li>
            <li class="products__item">
                <div class="products__item-photo"></div>
                <div class="products__item-name"></div>
                <div class="products__item-about">Десерт, состоящий из одного или нескольких коржей, пропитанных кремом или джемом. Сверху торт обычно украшают кремом, глазурью или ahernfvb</div>
            </li>
            <li class="products__item">
                <div class="products__item-photo"></div>
                <div class="products__item-name"></div>
                <div class="products__item-about">Десерт, состоящий из одного или нескольких коржей, пропитанных кремом или джемом. Сверху торт обычно украшают кремом, глазурью или ahernfvb</div>
            </li>
            <li class="products__item">
                <div class="products__item-photo"></div>
                <div class="products__item-name"></div>
                <div class="products__item-about">Десерт, состоящий из одного или нескольких коржей, пропитанных кремом или джемом. Сверху торт обычно украшают кремом, глазурью или ahernfvb</div>
            </li>
            <li class="products__item">
                <div class="products__item-photo"></div>
                <div class="products__item-name"></div>
                <div class="products__item-about">Десерт, состоящий из одного или нескольких коржей, пропитанных кремом или джемом. Сверху торт обычно украшают кремом, глазурью или ahernfvb</div>
            </li>
            <li class="products__item">
                <div class="products__item-photo"></div>
                <div class="products__item-name"></div>
                <div class="products__item-about">Десерт, состоящий из одного или нескольких коржей, пропитанных кремом или джемом. Сверху торт обычно украшают кремом, глазурью или ahernfvb</div>
            </li>
            <li class="products__item">
                <div class="products__item-photo"></div>
                <div class="products__item-name"></div>
                <div class="products__item-about">Десерт, состоящий из одного или нескольких коржей, пропитанных кремом или джемом. Сверху торт обычно украшают кремом, глазурью или ahernfvb</div>
            </li>
            <li class="products__item">
                <div class="products__item-photo"></div>
                <div class="products__item-name"></div>
                <div class="products__item-about">Десерт, состоящий из одного или нескольких коржей, пропитанных кремом или джемом. Сверху торт обычно украшают кремом, глазурью или ahernfvb</div>
            </li>
        </ul>
    </div>
</section>